html, body{
    margin: 0;
    scroll-behavior: smooth;
    margin-bottom: 50px;
    font-family: Acumin-Pro-ExtraCondensed, sans-serif;
  }

  .foot {
    background-color: #D5802D;
    text-align: center;
    height: 50px;
    line-height: 50px; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    z-index: 1;
  }
  
  .foot a {
    color: white; 
    text-decoration: none; 
    font-weight: bold;
  }

  .foot img {
    max-height: 40px; 
    vertical-align: middle; 
  }

  .head {
    background-color: #20702F;
    text-align: center;
    height: 50px;
    position: fixed;
    line-height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    color: #fff;
    font-size: 30px;
    margin-bottom: 100px;
    z-index: 100;
  }
  .burger-menu {
    float: right;
    position: relative;
  }
  .burger-icon img {
    width: 30px;
    cursor: pointer;
    margin-right: 15px;
    top:15px;
  }
  .menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #20702F;
    color: #ffffff;
    width: 150px;
    z-index: 1;
  }
  .menu a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
  }
  .menu a:hover {
    background-color: #D5802D;
  }
  .active {
    background-color: #20702F;
    display: block;
  }


     /* Media query til smartphones */
@media only screen and (max-width: 600px) {
  .foot {
    height: 50px;
  }

  .foot img {
    max-height: 40px;
  }

  .head {
    height: 50px;
    font-size: 30px;
  }
  
  .burger-icon img {
    width: 30px;
  }

  .menu {
    width: 150px;
    height: 300px;
    font-size: 18px;
  }
 
}

/* Media query til iPads */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .foot {
    height: 70px;
  }

  .foot img {
    max-height: 60px;
  }

  .head {
    height: 50px;
    font-size: 40px;
  }

  .burger-icon img {
    width: 50px;
  }

  .menu {
    width: 200px;
    height: 300px;
    font-size: 22px;
  }
}

/* Media query til computerskærme */
@media only screen and (min-width: 1025px) {
  .foot {
    height: 80px;
  }
  
  .foot img {
    max-height: 70px;
  }

  .head {
    height: 60px;
    font-size: 50px;
  }

  .burger-icon img {
    width: 60px;
  }

  .menu {
    width: 250px;
    height: 300px;
    font-size: 28px;
  }
  
}
  